<div class="centered-content">
  <div class="boards-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">User</h1>

      <p>Some user info</p>
    </div>

    <div class="boards-list-container has-background-light">
      <h1 class="title has-text-primary">Boards</h1>

      <!-- Board list -->
      <div class="board">
        <div class="list-menu">
          <a class="list-menu-item is-active">
            <p>Board #1</p>
          </a>

          <a class="list-menu-item">
            <p>Board #2</p>
          </a>
        </div>
      </div>

      <div class="bottomed-content">
        <button class="button is-primary has-text-white" style="width:200px">Add new board</button>
      </div>
    </div>

  </div>
</div>
