<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="title has-text-primary">Board</h1>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button class="button is-success has-text-white" (click)="back()">Boards</button>
            <button class="button is-success has-text-white" (click)="logout()">Log out</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name title">Board Name</p>
    </div>

    <div class="board-wrapper">

      <div cdkDropListGroup class="board-columns">
        <div *ngFor="let column of board.columns" class="board-column">

          <div class="column-title">
            {{column.name}}
          </div>

          <div (cdkDropListDropped)="drop($event)"
               [cdkDropListData]="column.tasks"
               cdkDropList
               class="tasks-container">
            <div *ngFor="let item of column.tasks" cdkDrag class="task">
              {{ item }}
            </div>

          </div>

          <div class="bottom-content">
            <button (click)="display_modal()" class="button is-primary has-text-white" id="task-button"
                    style="width:120px">Add new task
            </button>
          </div>

          <div class="modal" id="modal-page">
            <div class="modal-background"></div>
            <div class="modal-card" style="top: 30%">
              <header class="modal-card-head">
                <p class="modal-card-title">Create new task</p>
                <button (click)="close_modal()" aria-label="close" class="delete"></button>
              </header>
              <section class="modal-card-body">
                <input [(ngModel)]="task" class="input has-background-light is-primary" placeholder="Add task text"
                       type="board-name">
              </section>
              <footer class="modal-card-foot">
                <button (click)="add_task()" class="button is-success">Save</button>
                <button (click)="close_modal()" class="button">Cancel</button>
              </footer>
            </div>
          </div>

        </div>

        <div class="new-board-column">
          <div class="align-center">
            <button (click)="display_list_modal()" class="button is-primary has-text-white" id="board-button" style="width:120px">Add new list</button>
          </div>
        </div>

        <div class="modal" id="modal-list-page">
          <div class="modal-background"></div>
          <div class="modal-card" style="top: 30%">
            <header class="modal-card-head">
              <p class="modal-card-title">Create new list</p>
              <button (click)="close_list_modal()" aria-label="close" class="delete"></button>
            </header>
            <section class="modal-card-body">
              <input [(ngModel)]="list.name" class="input has-background-light is-primary" placeholder="Add list name"
                     type="board-name">
            </section>
            <footer class="modal-card-foot">
              <button (click)="add_list()" class="button is-success">Save</button>
              <button (click)="close_list_modal()" class="button">Cancel</button>
            </footer>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>

